div.tabular {
    .square {
        width: 15px;
        height: 15px;
        line-height: 12px;
        font-size: 12px;
        font-family: 'Fira Sans';
        text-align: center;
        padding: 1px;
    }

    .square.x {
        background-color: #aaf;
    }

}